*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#fff;
    color:#222;
}

.hero{
    height:100vh;
    background-color: #666;
    background-image:url("imgs/cover.jpeg");
    background-size:cover;
    background-position:center;
    color:#683b04
}


.nav{
    display:flex;
    justify-content:space-between;
    align-items:end;
    padding:40px 80px;
    font-weight: bold;
}

.logo{
    font-size:28px;
    font-weight:800;
}

.nav-links{
    
    display:flex;
    list-style:none;
    gap:50px;
}

.nav-links a{
    color:#E58411;
    text-decoration:none;
    font-weight: 500;
    font-style: unset;
}

.cart{
    width:22px;
}

.hero-text{
    text-align:center;
    margin-top:120px;
}

.hero-text h1{
    color: #8d540ee8;
    font-size:56px;
    font-weight:800;
    line-height:1.2;
}

.hero-text p{
    color: #5e4629;
    max-width:520px;
    margin:25px auto;
    opacity:.9;
}

.search{
    display:flex;
    width:320px;
    margin:0 auto;
    background:rgba(255,255,255,.2);
    border-radius:50px;
    padding:6px;
}

.search input{
    flex:1;
    border:none;
    background:transparent;
    outline:none;
    color:#fff;
    padding:12px 20px;
}

.search button{
    width:40px;
    height:40px;
    border:none;
    background:#77492e;
    border-radius:50%;
    cursor:pointer;
}

.search img{
    width:16px;
}

.why{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
    padding:80px;
}

.why-title h2{
    font-size:36px;
    font-weight:800;
}

.why-card h3{
    margin-bottom:10px;
}

.why-card p{
    color:#666;
    line-height:1.6;
    margin-bottom:10px;
}

.why-card a{
    color:#E58411;
    text-decoration:none;
    font-weight:500;
}

.materials{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:100px;
    gap:60px;
}

.materials-text span{
    color:#E58411;
    letter-spacing:2px;
    font-size:14px;
}

.materials-text h2{
    font-size:40px;
    margin:20px 0;
}

.materials-text p{
    color:#666;
    line-height:1.6;
    margin-bottom:20px;
}

.materials-text a{
    color:#E58411;
    text-decoration:none;
}

.materials-images{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.materials-images img{
    max-width:100%;
    height: auto;
    border-radius:16px;

}

.products{
    padding:100px;
    background:#f7f7f7;
    text-align:center;
}

.products h2{
    font-size:36px;
    margin-bottom:50px;
}

.product-list{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;}

.product-card{
    background:#fff;
    padding:20px;
    border-radius:18px;
    position:relative;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.8s ease forwards; 
    transition: transform 0.4s ease,box-shadow 0.4s ease;
    perspective: 1000px;
}


.product-card:hover {
  transform: translateY(-10px) scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0, 0.12);
} 
.product-card:hover img{
     transform :scale(1.15) translateZ(30px);
}

.product-card img{
    max-width: 100%;
    height: auto;
    transition: transform 0.6s;

}

.product-card h4{
    margin:15px 0 5px;
}

.product-card p{
    font-weight:bold;
}

.product-card button{
    position:absolute;
    right:20px;
    bottom:20px;
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:#0D1B39;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}
.products a{
    color:#E58411;
    text-decoration:none;
}

.experience{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  padding:100px;
  align-items:center;
}
.experience span{
    color:#E58411;
    letter-spacing:2px;
    font-size:14px;
}
.experience h2{
    font-size:40px;
    margin:20px 0;
}

.experience p{
    color:#666;
    line-height:1.6;
    margin-bottom:20px;
}


.exp-img img{
  max-width:100%;
  height: auto;
  border-radius:20px;
}
.experience a{
    color:#E58411;
    text-decoration:none;
}

.testimonial{
  text-align:center;
  padding:100px;
}
.testimonial span{
    color:#E58411;
    letter-spacing:2px;
    font-size:14px;
}
.testimonial h2{
    font-size:40px;
    margin:20px 0;
}

.testimonial p{
    color:#666;
    line-height:1.6;
    margin-bottom:20px;
}

.reviews{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:50px;
}

.review-card{
  position:relative;
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeLeft 0.8s ease forwards
}

.review-card:nth-child(1) { animation-delay: 0.3s; }
.review-card:nth-child(2) { animation-delay: 0.5s; }
.review-card:nth-child(3) { animation-delay: 0.7s; }

.review-card img{
  max-width:100%;
  height: auto ;
  border-radius:20px;
  width: 300px;
  height: 400px;
}

.review-box{
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  padding:20px;
  width:80%;
  border-radius:15px;
}
.reviewer img{
    transform: translateY();
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }}
  @media (max-width:768px){
      header section h1{
        font-size: 36px;
        padding: 0 15px;
      }
      #why {
        flex-direction: column;
        padding: 50px 20px;
      }
      .essentials-container{
        grid-template-columns: 1fr;
        padding: 0 10px;
      }
      .essential-card{
        padding: 20px;
      }
  }
    
.footer{
  background:#f7f7f7;
  padding:80px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}
.footer h4{
    color: #E58411;
    text-decoration: none;
}

.footer a{
  display:block;
  margin:8px 0;
  color:#555;
  text-decoration: none;
}
.copy p{
    background-color: rgba(255, 255, 255, 0.568);
    color: rgb(101, 100, 110);
    text-align: center;
    padding: 15px;
    background-size: 15cm;
}
